<!doctype html>
<html class="bg-gray-500" lang="es" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Empleados</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <header class="navbar bg-base-100 shadow-sm">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl">daisyUI</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a href="http://localhost:8080">Inicio</a></li>
                <li><a href="http://localhost:8080/empleados">Empleados</a></li>
                <li><a href="http://localhost:8080/departamentos">Departamentos</a></li>
            </ul>
        </div>
    </header>
    <main class="container h-vh mx-auto">
        <br><br>
        <div
          class="mx-auto my-5 overflow-x-auto rounded-box border border-base-content/5 bg-base-100"
        >
          <table class="table mx-auto w-full">
            <!-- head -->
            <thead>
              <tr>
                <th></th>
                <th>Nombre</th>
                <th>Localización</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <!-- row 1 -->
              <tr th:each="department : ${departments}">
                <th th:text="${department.id}"></th>
                <td th:text="${department.name}"></td>
                <td th:text="${department.loc}"></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
    </main>
  </body>
</html>