<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Register</title>
  </head>
  <body>
    <section layout:fragment="content">
        <form
            th:action="@{/auth/register}"
            method="post"
            class="fieldset mx-auto mt-50 shadow bg-base-200 border-base-300 rounded-box w-xs border p-4"
        >
            <br>
            <h1 class="text-center">Nuevo Estudiante</h1>
            <br>
            <label class="label">Codigo</label>
            <input type="text" class="input" name="idcard" placeholder="Username" required />

            <label class="label">Correo Electrónico</label>
            <input type="text" class="input" name="email" placeholder="Password" required />

            <button type="submit" class="btn btn-success mt-4">Login</button>
        </form>
    </section>
  </body>
</html>
