<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <RollingFile name="DailyLog"
                     fileName="src/main/logs/log-current.log"
                     filePattern="src/main/logs/log-%d{dd-MM-yyyy}.log"
                     append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %c - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <RollingFile name="ErrorLog"
                     fileName="src/main/logs/errors-current.log"
                     filePattern="src/main/logs/errors-%d{dd-MM-yyyy}.log"
                     append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %c - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <!-- Just ERROR -->
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="DailyLog"/>
            <AppenderRef ref="ErrorLog"/>
        </Root>
    </Loggers>

</Configuration>
