version: "3.8"
services:
  vtinstitute-server:
    image: vtinstitute-server
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./src:/app/src 
      - ./pom.xml:/app/pom.xml

    command: mvn spring-boot:run