<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <title>IES MARE NOSTRUM</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/theme.css}" rel="stylesheet" />
    
  </head>
  <body class="bg-cyan-100">
    <header>
      <div class="navbar bg-blue-400 shadow-sm">
        <div class="flex-1">
          <a th:href="@{/}">
            <img th:src="@{/images/logo.png}" alt="Logo" width="55" />
          </a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            <li
              th:if="${session.rol == 'ADMIN'}"
              sec:authorize="hasRole('ADMIN')"
            >
              <a href="#">Cursos</a>
            </li>
            <li
              th:if="${session.rol == 'ADMIN'}"
              sec:authorize="hasRole('ADMIN')"
            >
              <a th:href="@{/students}">Alumnos</a>
            </li>
            <li
              th:if="${session.rol == null}"
              sec:authorize="isAnonymous()"
            >
             <a th:href="@{/auth/login}"> Login</a>
            </li>
          </ul>
        </div>
        <div class="dropdown dropdown-end">
          <div
            tabindex="0"
            role="button"
            class="btn btn-ghost btn-circle avatar"
            th:if="${session.rol == 'ADMIN' || session.rol == 'STUDENT'}"
          >
            <div class="w-10 rounded-full">
              <img
                alt="Tailwind CSS Navbar component"
                th:src="@{/images/user.jpg}"
              />
            </div>
          </div>
          <ul
            tabindex="-1"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
          >
            <li>
              <a th:href="@{/profile/{code}(code=${session.idcard})}" th:if="${session.rol == 'STUDENT'}" class="justify-between">
                Profile
              </a>
            </li>
            <li>
              <form th:action="@{/auth/logout}" method="post">
                <button type="submit">Logout</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <main class="container mt-6 mx-auto">
      <!-- Div de las Alertas interactivas con el usuario-->
      <div
        id="alert-div"
        class="text-center"
        th:if="${not #strings.isEmpty(error)
            or not #strings.isEmpty(warning)
            or not #strings.isEmpty(success)
            or not #strings.isEmpty(info)}"
      >
        <br /><br />

        <div
          th:if="${error}"
          id="error-alert"
          role="alert"
          class="alert alert-danger alert-soft m-2"
        >
          <span th:text="${error}"></span>
        </div>

        <div
          th:if="${warning}"
          id="warning-alert"
          role="alert"
          class="alert alert-warning alert-soft m-2"
        >
          <span th:text="${warning}"></span>
        </div>

        <div
          th:if="${success}"
          id="success-alert"
          role="alert"
          class="alert alert-success alert-soft m-2"
        >
          <span th:text="${success}"></span>
        </div>

        <div
          th:if="${info}"
          id="info-alert"
          role="alert"
          class="alert alert-info alert-soft m-2"
        >
          <span th:text="${info}"></span>
        </div>
      </div>
      <div
        layout:fragment="content"
        class="content"
        style="height: 100vh"
      ></div>
      <div class="h-32"></div>
    </main>

    <footer
      class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4"
    >
      <aside>
        <p>Copyright © 2026 - All right reserved by IES MARE NOSTRUM</p>
      </aside>
    </footer>
  </body>
</html>
