<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <title>IES MARE NOSTRUM</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-cyan-100">
    <header>
      <div class="navbar bg-blue-400 shadow-sm">
        <div class="flex-1">
          <a th:href="@{/}">
            <img th:src="@{/images/logo.png}" alt="Logo" width="55">
          </a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            <li><a href="#">Cursos</a></li>
            <li><a th:href="@{/students}">Alumnos</a></li>
          </ul>
        </div>
      </div>
    </header>

    <main class="container mt-6 mx-auto">
      <div layout:fragment="content" class="content" style="height: 100vh">
        
      </div>
      <div class="h-32"></div>
    </main>

    <footer
      class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4"
    >
      <aside>
        <p>
          Copyright © 2026 - All right reserved by IES MARE NOSTRUM
        </p>
      </aside>
    </footer>
  </body>
</html>
